body{
    background: linear-gradient(to bottom, rgba(167, 210, 242, 1), rgba(167, 210, 242, 0.3)) fixed;
}

.square{
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 50%;
    height: 250px;
    width: 750px;
    padding: 10px;
    background: rgb(180, 230, 250);
    border: 3px solid rgb(33, 138, 217);
}

#title{
    text-align: center;
    color: rgb(6, 17, 189);
}

#button{
    margin-top: 10px;
    background-color: rgb(130, 170, 242);
    border: none;
    color: white;
    padding: 7px;
    border-radius: 3px;
    width: calc(30% - 20px);
    box-sizing: border-box;
}

#lastMessage{
    margin-top: 40px;
    color: rgb(90, 120, 250);
}
