body{
    background: linear-gradient(to bottom, rgba(167, 210, 242, 1), rgba(167, 210, 242, 0.3)) fixed;
}

.main-container{
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 255px;
    width: 1200px;
}

.container{
    height: 250px;
    background: rgb(180, 230, 250);
    border: 3px solid rgb(33, 138, 217);
}

#container-left{
    width: 60%;
    float: left;
}

#container-middle{
    width: 15%;
    float: left;
}

#container-right{
    width: 23.5%;
    float: left;
}

#title{
    text-align: center;
    color: rgb(6, 17, 189);
}

#button{
    margin-top: 10px;
    background-color: rgb(130, 170, 242);
    border: none;
    color: white;
    padding: 7px;
    border-radius: 3px;
    width: calc(30% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.8;
}

#button:hover{
    opacity: 1;
}

#message{
    display: inline-block;
    width: 25%;
    border: none;
}

#lastMessageText{
    margin-top: 40px;
    margin-bottom: 5px;
    color: rgb(90, 120, 250);
}

#lastMessage{
    margin-top: 0;
    color: rgb(90, 120, 250);
}

.buttons{
    margin-top: 25px;
    height: 20px;
    width: 150px;
    cursor: pointer;
    background-color: rgb(130, 170, 242);
    border: none;
    color: white;
    box-sizing: border-box;
    opacity: 0.8;
    border-radius: 8px;
}

.buttons:hover{
    opacity: 1;
}

